// ================================
//              main
// ================================

$main_color: #fbf5e9;

.main {
  position: relative;
  background: $main_color;
  min-height: 600px;
  
  .main-box {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 28px 0;
  }
}
