// ================================
//              more
// ================================

.more {
  width: 32px;
  height: 32px;

  .more__icon {
    width: 100%;

    &:hover {
      opacity: 0.6;
    }
  }
}
